
<div class="social-share-wrapper">
	<div class="">
	    <div class="facebook-button" onclick="emailSharing()"><a  ng-click="navigateToEmail()" href={{mailLink}} class="custom-padding" > </a></div>
	    <div class="twitter-share" href="javascript:void(0);" ng-click="navigateToLinkedIn()" onclick="linkedinSharing()"></div>
	    <div class="linkedin-share" href="javascript:void(0);" ng-click="navigateToTwitter()" onclick="twitterSharing()"></div>
	    <div class="email-share"  href="javascript:void(0);" ng-click="navigateToFB()" onclick="facebookSharing()"></div>
	</div>
</div>

